.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#map {
  height: 100vh;
  width: 100vw;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sideBarContainer {
  display: flex;
  flex-flow: column nowrap;
  background: #AA7D39;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sideBarHeader {
  color: #553300;
}

#sideBarSubHead {
  color: #553300;
}

.listItem {
  list-style: none;
  margin-top: 1rem;
  margin-right: 2.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
